.carousel{
  max-width: 1440px;
  height: 450px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 40px;
}

.carousel ul{
  list-style: none;
}

.swiper-pagination-bullet {
  background-color: rgb(158, 82, 82) !important;
}